# Do not commit the following files/folders
__pycache__/
wandb/
models/
lmdb/
# The paths.py file is being ignored so that 
# it does not update when using a different device
paths.py 
# PDF is not being tracked because it takes 
# too much space and I was starting to run out 
# of it
*.pdf