ipywidgets==8.1.5
jupyter==1.1.1
matplotlib==3.9.4
numpy==1.26.4
ortools==9.12.4544
pandas==2.2.3
pillow==11.1.0
scikit-image==0.24.0
scikit-learn==1.6.1
SimpleITK==2.4.1
tqdm==4.67.1
wandb==0.19.5